<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Nihaopay\Payments\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Nihaopay\Payments\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">NihaopayLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="exception" xsi:type="object">Nihaopay\Payments\Logger\Handler</item>
                <item name="system" xsi:type="object">Nihaopay\Payments\Logger\Handler</item>
                <item name="debug" xsi:type="object">Nihaopay\Payments\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>