<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <section id="payment" translate="label" sortOrder="345" type="text" showInDefault="1" showInWebsite="1" showInStore="1">

        <group id="nihaopay_payments" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1">
            <label>Nihaopay Online Payments</label>
            <field id="mode" translate="label" sortOrder="6" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Environment Mode</label>
                <source_model>Nihaopay\Payments\Model\Source\NihaopayMode</source_model>
                <config_path>payment/nihaopay_payments_card/mode</config_path>
            </field>
            <field id="test_service_key" translate="label" sortOrder="7" type="text" showInDefault="1" showInStore="1">
                <label>Test Service Key</label>
                <config_path>payment/nihaopay_payments_card/test_service_key</config_path>
            </field>
          
            <field id="live_service_key" translate="label" sortOrder="9" type="text" showInDefault="1" showInStore="1">
                <label>Live Service Key</label>
                <config_path>payment/nihaopay_payments_card/live_service_key</config_path>
            </field>
           
        </group>

        

        <group id="nihaopay_payments_alipay" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1">
            <label>AliPay</label>
            <field id="alipay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Alipay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_alipay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="giropay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_alipay/debug</config_path>
            </field>
        </group>

        <group id="nihaopay_payments_wechatpay" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1">
            <label>WechatPay</label>
            <field id="wechatpay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wechatpay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_wechatpay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="giropay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_wechatpay/debug</config_path>
            </field>
        </group>

      <group id="nihaopay_payments_unionpay" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1">
            <label>UnionPay</label>
            <field id="unionpay_active" translate="label" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Unionpay Enabled</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_unionpay/active</config_path>
            </field>
            <field id="title" translate="label" sortOrder="2" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Title</label>
            </field>
            <field id="giropay_logging" translate="label" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable Debug</label>
                <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                <config_path>payment/nihaopay_payments_unionpay/debug</config_path>
            </field>
        </group>
      

    </section>
</system>
</config>
